<!--  MENU LATERAL -->
	<!-- Page content -->
	<div class="page-content">

		<!-- Main sidebar -->
		<div class="sidebar sidebar-dark sidebar-main sidebar-expand-lg">

			<!-- Sidebar content -->
			<div class="sidebar-content">

				<!-- User menu -->
				<div class="sidebar-section sidebar-user my-1">
					<div class="sidebar-section-body">
						<div class="media">
							<a href="#" class="mr-3">
								<img src="../../../../global_assets/images/placeholders/GBperfil.png" class="rounded-circle" alt="">
							</a>

							<div class="media-body">
								<div class="font-weight-semibold">Gabriel Baron</div>
								<div class="font-size-sm line-height-sm opacity-50">
									Severisimo Director
								</div>
							</div>

							<div class="ml-3 align-self-center">
								<button type="button" class="btn btn-outline-light-100 text-white border-transparent btn-icon rounded-pill btn-sm sidebar-control sidebar-main-resize d-none d-lg-inline-flex">
									<i class="icon-transmission"></i>
								</button>

								<button type="button" class="btn btn-outline-light-100 text-white border-transparent btn-icon rounded-pill btn-sm sidebar-mobile-main-toggle d-lg-none">
									<i class="icon-cross2"></i>
								</button>
							</div>
						</div>
					</div>
				</div>
				<!-- /user menu -->

				<!-- Main navigation -->
				<div class="sidebar-section">
					<ul class="nav nav-sidebar" data-nav-type="accordion">

						<!-- Layout -->
						<li class="nav-item-header"><div class="text-uppercase font-size-xs line-height-xs">Gestion</div> <i class="icon-menu" title="Layout options"></i></li> <!-- Layout -->
						
						<!-- Menu 2do nivel //////////////////// VENTAS /////////////////////////-->
						<li class="nav-item nav-item-submenu nav-item-expanded nav-item-open">
							<a href="#" class="nav-link"><i class="icon-stack2"></i> <span>Ventas</span></a>

							<ul class="nav nav-group-sub" data-submenu-title="Page layouts">
								<li class="nav-item"><a href="index.html" class="nav-link">Nuevo pedido</a></li>
								<li class="nav-item"><a href="index.html" class="nav-link">Confirmar</a></li>
								<li class="nav-item"><a href="index.html" class="nav-link">Listar pedidos</a></li>
								<li class="nav-item-divider"></li>
								<li class="nav-item"><a href="index.html" class="nav-link">Nuevo Cliente</a></li>
								<li class="nav-item"><a href="index.html" class="nav-link">Consultar Clientes</a></li>
							</ul>
						</li>

						<!-- Menu 2do nivel //////////////////// COMPRAS /////////////////////////-->
						<li class="nav-item nav-item-submenu nav-item-expanded nav-item-open">
							<a href="#" class="nav-link"><i class="icon-stack2"></i> <span>Compras</span></a>

							<ul class="nav nav-group-sub" data-submenu-title="Page layouts">
								<li class="nav-item"><a href="index.html" class="nav-link">Nueva compra</a></li>
								<li class="nav-item"><a href="index.html" class="nav-link">Asignar cta contable</a></li>
								<li class="nav-item"><a href="index.html" class="nav-link">Listar compras</a></li>
								<li class="nav-item-divider"></li>
								<li class="nav-item"><a href="index.html" class="nav-link">Nuevo Proveedor</a></li>
								<li class="nav-item"><a href="index.html" class="nav-link">Consultar Proveedores</a></li>
							</ul>
						</li>

						<!-- Menu 2do nivel //////////////////// PRODUCCION /////////////////////////-->
						<li class="nav-item nav-item-submenu nav-item-expanded nav-item-open">
							<a href="#" class="nav-link"><i class="icon-stack2"></i> <span>Produccion</span></a>

							<ul class="nav nav-group-sub" data-submenu-title="Page layouts">
								<li class="nav-item"><a href="index.html" class="nav-link">Produccion Semanal</a></li>
								<li class="nav-item"><a href="index.html" class="nav-link">ABM Inventarios></li>
								<li class="nav-item"><a href="index.html" class="nav-link">Listar Inventarios</a></li>
								<li class="nav-item-divider"></li>
								<li class="nav-item"><a href="index.html" class="nav-link">Ajustes de Produccion</a></li>
								<li class="nav-item"><a href="index.html" class="nav-link">Consultar Produccion</a></li>
							</ul>
						</li>

						<!-- Menu 2do nivel //////////////////// FINANZAS /////////////////////////-->
						<li class="nav-item nav-item-submenu nav-item-expanded nav-item-open">
							<a href="#" class="nav-link"><i class="icon-stack2"></i> <span>Finanzas</span></a>

							<ul class="nav nav-group-sub" data-submenu-title="Page layouts">
								<li class="nav-item"><a href="index.html" class="nav-link">Cobranzas a Clientes</a></li>
								<li class="nav-item"><a href="index.html" class="nav-link">Pagos a Proveedores</a></li>
								<li class="nav-item"><a href="index.html" class="nav-link">Listar Cobranzas</a></li>
								<li class="nav-item"><a href="index.html" class="nav-link">Listar Pagos</a></li>
								<li class="nav-item-divider"></li>
								<li class="nav-item"><a href="index.html" class="nav-link">Otras Operaciones</a></li>
								<li class="nav-item"><a href="index.html" class="nav-link">Consultar Finanzas</a></li>
							</ul>
						</li>

						<!-- Menu 2do nivel //////////////////// CONTABILIDAD /////////////////////////-->
						<li class="nav-item nav-item-submenu nav-item-expanded nav-item-open">
							<a href="#" class="nav-link"><i class="icon-stack2"></i> <span>Contabilidad</span></a>

							<ul class="nav nav-group-sub" data-submenu-title="Page layouts">
								<li class="nav-item"><a href="index.html" class="nav-link">ABM Cuentas Contables</a></li>
								<li class="nav-item"><a href="index.html" class="nav-link">ABM Presupuesto</a></li>
								<li class="nav-item"><a href="index.html" class="nav-link">Listar Presupuesto</a></li>
								<li class="nav-item"><a href="index.html" class="nav-link">Listar Movimientos</a></li>
							</ul>
						</li>

						<!-- /layout -->

					</ul>
				</div>
				<!-- /main navigation -->

			</div>
			<!-- /sidebar content -->
			
		</div>
		<!-- /main sidebar -->